@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('u-color.css');

.ps2r {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 0.6rem;
    color: var(--u-text);
  }
  